@import '~iview/src/styles/index.less';

// Color
@login-color : #fff;
@login-title-color : #333333;
@notice-text-color: #ed3f14;
@notice-text-gray: #dcdcdc;

// Base
@main-text-white : #fff;
@layout-blue-light : #1EACFC;
@layout-blue-dark : #014D81;
@layout-blue-dark-checked : #00406E;
@main-line-gray: #D8D8D8;
@main-gun-stutas-green: #02CAB0;
@main-gun-stutas-red: #E35363;
@main-gun-stutas-yellow: #F4AE48;
@main-gun-stutas-gray: #CBCBCB;
@main-border-line: rgba(229, 229, 229, 1);
@modal-text-blue : #31A5F3;
@oil-tank-backgroup: #7E84FF;
@oil-tank-border: #6A70FD;
@oil-tank-oil-height-light: #9FF3FF;
@oil-tank-oil-height-dark: #41ABC4;
@main-card-top-box: #F3F3F3;
@main-gray: #999999;
@main-image-mask: #6F6F6F;

//botton

@btn-background-light: #20C6FF;
@btn-background-light-more: #1A9CF4;
@btn-background-dark-light: #1C63A2;
@btn-background-dark-more: #0C3369;
@btn-box-shadow: #81EEFF;
@btn-system: #31A5F3;
@btn-cancel: #EEEEEE;
@btn-modal-submit: #1A9CF4;


@btns-font-size: 17px;
@btns-system-font-size: 14px;
